<?xml version="1.0" encoding="utf-8" ?>
<Records>
  <Record GUID="0f8fad5b-d9cb-469f-a165-70867728950e">
    <FileURI>C:\Users\jb633\Pictures\Reaction Images\marceline, ice king eyebrow waggle.gif</FileURI>
    <Tags>
      <Tag>Marceline</Tag>
      <Tag>Ice King</Tag>
      <Tag>Eyebrow waggle</Tag>
    </Tags>
  </Record>
  <Record GUID="0f8fad5a-d9cb-469f-a165-70867728950e">
    <FileURI>C:\Users\jb633\Pictures\Reaction Images\287.gif</FileURI>
    <Tags>
      <Tag>Grin</Tag>
      <Tag>Wakfu</Tag>
    </Tags>
  </Record>
</Records>